*.txt
analysisResults.json
node_modules
scripts/dev_*.sh
tests/dlint/*_jalangi_.js
tests/dlint/*_jalangi_.json
tests/dlint-dev/*
tests/jitprof/*_jalangi_.js
tests/jitprof/*_jalangi_.json
src/js/automation/*